*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
}
.box{
    max-width: 500px;
    border: solid 2px black;
    margin: auto;
    padding: 50px 100px 50px;
}
.title{
    text-align: center;
    margin-bottom: 40px;
}
.register{
    color: #46a358
}
.enter{
    text-align: center;
    margin-bottom: 14px;"
}
.form{
    width: 300px;
    margin: auto;
    text-align: center
}
.username{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 16px;
}
.email{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 16px;
}
.password{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px; padding-bottom: 12px;
    padding-top: 12px; margin-bottom: 16px;
}
.confirm{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 41px;
}
.button{
    border: 1px solid #46a358;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    background: #46a358;
    margin-bottom: 36px;
    color: #fff
}
.text{
    margin-bottom: 27px;
    text-align: center
}
.google_link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #727272;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
}
.google{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
.facebook_link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #727272;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
}
.facebook{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
header{
    padding-top: 30px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 12px;
}
header nav ul{
    display: flex;
    gap: 50px;
}
header .logo{
    margin-bottom: 18px;
}
header nav a{
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
header .login{
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 7px 17px;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
header .login:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/Logout.svg");
    margin-right: 4px;
}
header nav li:after{
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 25px;
    transition: 0.4s;
}
header nav li:hover:after{
    width: 100%;
}
main .container{
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .greenshop_information{
    font-family: "Cera Pro", sans-serif;
    max-width: 557px;
}
main .welcom{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 68px 0 7px 43px;
}
main .slogan{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
    margin-left: 40px;
}
main .planet{
    color: #46a358;
}
main .shop_description{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    margin-left: 43px;
}
main .shop_now{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    padding: 11px 27px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background: #46a358;
    margin-left: 41px;
}
main .plants{
    width: 507px;
}



















































































