@font-face {
    font-family: 'cera_prolight';
    src: url('../fonts/cerapro-light-webfont.eot');
    src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-light-webfont.woff') format('woff'),
    url('../fonts/cerapro-light-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    display: inline-block;
    color: inherit;
}
.box{
    max-width: 500px;
    border: solid 2px black;
    margin: auto;
    padding: 50px 100px 50px;
}
.title{
    text-align: center;
    margin-bottom: 40px;
}
.register{
    color: #46a358
}
.enter{
    text-align: center;
    margin-bottom: 14px;
}
.form{
    width: 300px;
    margin: auto;
    text-align: center
}
.username{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 16px;
}
.email{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 16px;
}
.password{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px; padding-bottom: 12px;
    padding-top: 12px; margin-bottom: 16px;
}
.confirm{
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding-left: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 41px;
}
.button{
    border: 1px solid #46a358;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    background: #46a358;
    margin-bottom: 36px;
    color: #fff
}
.text{
    margin-bottom: 27px;
    text-align: center
}
.google_link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #727272;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
}
.google{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
.facebook_link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #727272;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
}
.facebook{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
header{
    padding-top: 30px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 12px;
}
header nav ul{
    display: flex;
    gap: 50px;
}
header .logo{
    margin-bottom: 18px;
}
header nav a{
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header .login{
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 7px 17px;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
header .login:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/Logout.svg");
    margin-right: 4px;
}
header nav li:after{
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 25px;
    transition: 0.4s;
}
header nav li:hover:after{
    width: 100%;
}
main  .banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main  .product .main_content_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}
main  .information .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .banner .container{
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
.banner .greenshop_information{
    font-family: "Cera Pro", sans-serif;
    max-width: 557px;
}
.banner .welcom{
    font-family: 'cera_promedium';
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 68px 0 7px 43px;
}
.banner .slogan{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
    margin-left: 40px;
}
.banner .planet{
    color: #46a358;
}
.banner .shop_description{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    margin-left: 43px;
}
.banner .shop_now{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    padding: 11px 27px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    background: #46a358;
    margin-left: 41px;
}
.banner .plants{
    width: 507px;
}
main .banner{
    margin-bottom: 26px;
}
.product .left_side{
    max-width: 320px;
    background: #fbfbfb;
}
.product .categories{
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 7px;
    margin-left: 18px;
    padding-top: 14px;
}
.product .plants_kinds li{
    margin-left: 30px;
    font-family: 'cera_prolight';
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    color: #46a358;
}
.product .plants_kinds{
    margin-bottom: 240px;
}
.product .right-side{
    max-width: 840px;

}
.product .product_sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.product .sorting{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.product .product_sort ul{
    display: flex;
}
.product .product_sort li{
    font-family: 'cera_proregular';
    margin-right: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.product .product_sort p:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 12px;
    background-image: url("../img/Arrow - Down 2.svg");
    margin-left: 2px;
}
.product .main_product_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product article .sale{
    position: absolute;
    background-color: #46a358;
    padding: 7px 9px;
    left: 0;
    top: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    font-family: 'cera_promedium';
}
.product .main_product_items li.image1 a:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/shopping 1.svg');
    transition: 0.4s;
}
.product .main_product_items li.image1 a:hover:before{
    background-image: url('../img/shopping 1 Green.svg');
}
.product .main_product_items li.image2 a:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/heart 1.svg');
}
.product .main_product_items li.image2 a:hover:before{
    background-image: url('../img/heart 1 Green.svg');
}
.product .main_product_items li.image3 a:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/Frame.svg');
}
.product .main_product_items li.image3 a:hover:before{
    background-image: url('../img/Frame Green.svg');
}
.product .price span{
    font-family: 'cera_proregular';
    text-decoration: line-through;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    margin-left: 17px;
}
.product article {
    max-width: 258px;
    margin-bottom: 70px;
    border-top: solid 1px transparent;
    position: relative;
}
.product article:hover {
    border-top: solid 1px #46a358;
}
.product .main_product_items ul {
    position: absolute;
    display: none;
    gap: 10px;
    bottom: 57px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 125px;
}
.product article:hover ul{
    display: flex;
}
.product .main_product_items li{
    background-color: white;
    border-radius: 4px;
    padding: 6px;
}
.product .price{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.product .product_img{
    background: #fbfbfb;
    margin-bottom: 12px;
}
.product .product_name{
    font-family: 'cera_proregular';
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}
.product .product_sort li:after{
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 1px;
    transition: 0.4s;
}
.product .product_sort li:hover:after{
    width: 100%;
}
.product .product_sort li a{
    transition: 0.4s;
}
.product .product_sort li a:hover{
    color: #46a358;
}
.product .plants_kinds li a{
    color: #3d3d3d;
    transition: 0.4s;
}
.product .plants_kinds li a:hover{
    color: #46a358;
}
.container .list_pager li a{
    font-weight: 300;
    font-size: 18px;
    line-height: 175%;
    color: #3d3d3d;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    transition: 0.4s;
}
.container .list_pager li a:hover{
    background-color: #46a358;
    color: white;
}
main .container .list_pager{
    display: flex;
    justify-content: right;
    gap: 10px;
    max-width: 100%;
    margin-bottom: 94px;

}
.container .list_pager li:last-of-type a{
    background-image: url("../img/Arrow - Right 2.svg");
    background-size: contain;
}
.container .list_pager li:last-of-type:hover a{
    background-image: url("../img/Arrow - Right_white.svg");
}
.information a{
    display: inline-flex;
    align-items: center;
    font-family: 'cera_prolight';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    padding: 11px 28px;
    color: #fff;
    border-radius: 6px;
    background: #46a358;
}
.information a:after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/Arrow - Right.svg");
    margin-right: 6px;
}
.information article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    max-width: 586px;
    background: #fbfbfb;
}
.information h4{
    font-family: 'cera_problack';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-bottom: 9px;
}
.information p{
    font-family: 'cera_prolight';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
}
.information .product_overview{
    max-width: 292px;
    margin-right: 30px;
}
main .information{
    margin-bottom: 138px;
}
.blog_posts h2{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}
.blog_posts .online_plant_shop{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}
.blog_posts .posts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog_posts .posts article{
    max-width: 268px;
    padding-bottom: 13px;
    background: #fbfbfb;
}
.blog_posts .article_information{
    text-align: left;
    margin-left: 15px;
}
.blog_posts .green_text{
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
}
.blog_posts h3{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 9px;
}
.blog_posts img{
    margin-bottom: 9px;
}
.blog_posts .article_text{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
}
.blog_posts a{
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    display: flex;
    align-items: center;
}
.blog_posts a:hover{
    color: #46a358;
}
.blog_posts a:after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/ArrowStraight - Right.svg");
    margin-right: 9px;
    transition: 0.4s;
}
.blog_posts a:hover:after{
    background-image: url("../img/ArrowStraight - RightGreen.svg");
}
main .blog_posts .container{
    padding-bottom: 100px;
}
header nav .dropdown{
    position: relative;
}
header nav .sub_menu{
    position: absolute;
    min-width: 188px;
    flex-direction: column;
    gap: 0;
    top: 40px;
    display: none;
    padding-top: 20px;
}
header nav .dropdown:hover .sub_menu{
    display: flex;
}
header nav .sub_menu li{
    background-color: #edf6ee;
}
header nav .sub_menu a{
    padding: 7px 14px;
    display: block;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header nav .sub_menu li:after{
    display: none;
}
header nav .sub_menu li.dropdown_2:after{
    content: "";
    display: block;
    background-image: url("../img/Frame 9.svg");
    width: 7px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 19px;
    margin-top: 0;
    transition: 0.2s;
    background-color: #edf6ee;
}
header nav .dropdown_2{
    position: relative;
}
header nav li.dropdown_2:hover:after{
    transform: rotate(180deg);
    background-color: #1a712a;
    background-image: url("../img/Frame 9White.svg");
}
header nav .sub_menu li:hover {
    background-color: #1a712a;
}
header nav .sub_menu li:hover > a {
    color: #fff;
}
header nav .sub_menu_2{
    position: absolute;
    min-width: 188px;
    flex-direction: column;
    gap: 0;
    top: -110px;
    left: 100%;
    display: none;
    padding-top: 20px;
    padding-left: 2px;
}
header nav .dropdown_2:hover .sub_menu_2{
    display: flex;
}
header nav .dropdown_2 li:hover{
    background-color: #1a712a;
}
header nav .dropdown_2 li:hover a{
    color: #fff;
}
main .blog_posts{
    margin-bottom: 100px;
}
.contact_data .data{
    padding: 24px;
}
.contact_data .data{
    display: flex;
    justify-content: space-between;
    background: #fbfbfb;
}
.contact_data .data article{
    max-width: 204px;
}
.contact_data .form_desc{
    max-width: 354px;
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}
.contact_data article img{
    margin-bottom: 15px;
}
.contact_data article p{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}
.form_desc h4{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 25px;
}
.form_desc p{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}
.contact_data article h4{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}
form input{
    border-radius: 6px 0 0 6px;
    width: 354px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    border: none;
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    padding-left: 11px;
}
form button{
    border-radius: 0 6px 6px 0;
    width: 85px;
    background: #46a358;
    border: none;
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    padding: 12px 25px;
}
.contact_data .gradient{
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    padding: 23px;
}
.contact_data .gradient ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_data .gradient li{
    max-width: 205px;
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact_data .gradient li.location:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/Icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 14px;
}
.contact_data .gradient li.email_info:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/Icon (1).svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 8px;
}
.contact_data .gradient li.phone:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/Icon (2).svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 8px;
}
footer .container{
    background: #fbfbfb;
    display: flex;
    justify-content: space-between;
    padding: 33px 25px;
    position: relative;
    margin-bottom: 6px;
}
footer .lists h4{
    font-family: cera_proregular;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-bottom: 8px;
}
footer .lists li{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    transition: 0.3s;
}
footer .lists li a:hover {
    color: #46a358;
}
footer .media .social_media{
    font-family: cera_proregular;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-bottom: 20px;
}
footer .media .payments{
    font-family: cera_proregular;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-bottom: 13px;
}
footer .media ul{
    display: flex;
    justify-content: space-between;
    max-width: 190px;
    margin-bottom: 33px;
}
footer .media li a{
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data article {
    position: relative;
}
.data article:not(:last-of-type)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 70%;
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
}
footer .rights{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 22px;
}
footer .container::after{
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(70, 163, 88, 0.2);
}


















































































